*{
    margin: 0;
    padding: 0;       
}

.btn-publish{
    background: #FBF2CF;
    height: 25px;
    width: 80px;
    border: 0;
    border-radius: 15px;
}

.div-feed{
    background-color: #ffffff;
}

.nav-header{
    background: #FA7070;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;    
}

.logo-feed{
    width: 6rem;
    height: 6rem;
    background: #FA7070;
    padding-right: 20px;
}

.img-logout {
    width: 70px;
    padding-left: 220px;
}

#btn-search{
    width: 1rem;
    height: 1rem; 
    background: #FA7070;   
}

.form-message{
    padding: 15px;
}

.section-message{     
    margin: 10px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#message{
    width: 18rem;
    height: 160px;
    background-color: #C6EBC5;
    border: 0;
    border-radius: 10px;
    text-align: left;
    padding: 10px;    
}

.div-publish{
    display: inline-flex;
    margin: auto;
    padding-left: 7rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.error-msg{
    font-weight: bold;
   
}


.btn-publish{
    background: #FA7070;
    margin: 10px;
}

#section-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-feed{
    margin: 5px;
    padding: 5px;
    width: 18rem;
    height: 9rem;
    border-radius: 10px;
    background-color: #C6EBC5;
    text-align: center;
    font-weight: bold
}

.likes-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 5px 20px 20px;
    border-radius: 50px;
}

#btn-likes{
    border-radius: 100px;
    border: 0;
    background: white;
}

.heart{
    margin: 3px;
    background-color: #FA7070;
    height: 10px;
    transform: rotate(-45deg);
    width: 10px;
    position: relative;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #FA7070;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}
.heart:before {
    left: 6px;
}

.heart:after {
    right: 0px;
    top: -6px;
}

.number-likes{
    margin-left: 10px;
    font-weight: bold;
}

.btn-edit, .btn-delete {
    border: 0;
    border-radius: 50px;
}

.edit, .btn.delete {
    background: white;
    width: 20px;
    padding-left: 5px;
} 

footer {
  display: flex;
    align-items: stretch;
    justify-content: space-around
}

@media screen and (min-width: 768px) {

  #message{
    width: 45rem;   
} 
  
  .post-feed {
    width: 45rem;
    height: 12rem;   
    font-size: 19px;
}

.likes-div{
    margin: 7px 5px 20px 20px;   
}

.heart{
    height: 15px;
    width: 15px;    
}

.heart:before, .heart:after {
    height: 15px;
    width: 15px;
    
}

.heart:before {
    left: 9px;
}

.heart:after {
    right: 0px;
    top: -9px;
}

.number-likes {
    margin-left: 10px;
    font-size: 19px;
    font-weight: bold;
}

.edit, .btn.delete {
    width: 28px;
    padding-left: 6px;
} 
}